
<h1 class="titleList">Listado de Productos</h1>

    <div>
        {{#if userRole}}
            <div>
                {{#if userFirst_Name}}
                        <h2>Hola, <span style="color: blueviolet">{{userFirst_Name}} {{userLast_Name}}</span></h2>
                    
                    {{else}}
                        <h2>Hola, <span style="color: blueviolet">Administrador</span></h2>
                {{/if}}
                    <p>Sos <span style="color: rgb(228, 127, 12)" >{{userRole}}</span>de la pagina</p>
            </div>

        {{/if}}
    </div>

    {{#each products}}
        <ul class="list">
            <li>
                <div>Nombre del producto: {{this.title}} </div>
                <div>Precio: {{this.price}} </div>
                <div>Descripcion: {{this.description}}</div>
                <div>Imagen: {{this.thumbnail}}</div>
                <div>Code: {{this.code}} </div>
                <div>Stock: {{this.stock}}</div>
                <div>Categoria: {{this.category}} </div>

            </li>
            
        </ul>
        
        
    {{/each}}

<script src="socket.io/socket.io.js"></script> 


{{!-- en este script buscamos la carpeta con la que trabajamos en "js" dentro de la vista. --}}
<script src="js/home.js"></script>
 
